.categories {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: var(--my-grid-template-columns);
  grid-column-gap: 0;
  grid-row-gap: 20px;
  margin: 30px auto;
  padding-bottom: 30px;
  user-select: none;
  align-items: center;
  justify-content: space-around;
  color: rgb(255, 255, 255);
}
.categories a:visited {
  color: rgb(255, 220, 220);
}


.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 6em;
  right: 0;
  bottom: 6em;
  /* фоновый цвет элемента */
  background: #ffffff;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #ffadad;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}