:root {
    --primary: #929292;
    --dark: rgb(108, 107, 115);
    --secondary: #d9d9d9;
    --light: #a2abb3;
    --accent: #3C6E71;
    --black: #353535;
    --white: #e4e4e4;
    --error: #a4161a;
    --box-shadow: 0 8px 32px 0 rgba(74, 74, 74, 0.37);
}