* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

/* Variables start */
:root {
  --blur: 0px;
  --invert: 0%;
  --sepia: 0%;
  --saturate: 100%;
  --hue-rotate: 0deg;
  --brightness: 100%;
  --contrast: 100%;
}
/* Variables end */

a:focus {
  outline: 0;
}
body {
  min-height: 100vh;
  
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  animation: bg 50s ease-in-out infinite;
  background: linear-gradient(-45deg, #6a7979 0%, #6fa0a0 40%, #315a5a 60%, #306868 70%, #145f5f 80%, #0d5163 100%);
   
  background-size: 300%;
  
}

@keyframes bg {
 0% {
   background-position: 0 50%;
 }
 50% {
   background-position: 100% 50%;
 }
 100% {
   background-position: 0 50%;
 }
}


.header {
  text-align: center;
  width: 100%;
  
  /* border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a); */
}
.header-title {
  line-height: 60px;
  font-weight: 800;
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
}
.main {
  min-height: calc(100vh - 110px);
  padding: 58px 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
 
}

label:not(.btn) {
  display: block;
  position: relative;
  margin-bottom: 40px;
  margin-right: 140px;
  color: #a2abb3;
  font-size: 16px;
}
label:hover
 {
  color: #cbd5de;
}
label:hover output {
  color: #a2abb3;
}
label:active output {
  color: #cbd5de;
}
input[type='range'] {
  display: block;
  appearance: none;
  height: 3px;
  background-color: #a2abb3;
  margin-top: 22px;
  outline: none;
  border-radius: 0.25rem;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #313940;
  border: 3px solid #a2abb3;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}
label:hover input[type='range']::-webkit-slider-thumb {
  background-color: #00c9b7;
}
output {
  position: absolute;
  width: 60px;
  height: 40px;
  right: -80px;
  top: 24px;
  background-color: #355252;
  border: 1px solid #355252;
  text-align: left;
  padding-left: 10px;
  line-height: 40px;
  border-radius: 2px;
  transition: 0.3s;
}
.btn-container {
  margin-bottom: 20px;
  padding: 2px;
  display: flex;
  justify-content: center;
}
.btn-container > * {
  margin-right: 10px;
}
.btn-container > *:last-child {
  margin-right: 0;
}
.btn {
  flex: 1;
  min-width: 120px;
  height: 40px;
  padding: 0 10px;
  background-color: #355252;
  border: 0;
  border-radius: 2px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  outline: 0;
  cursor: pointer;
  transition: 0.3s;
}
.btn:not(.btn-active):hover {
  background-color: #515961;
}
.btn:active {
  background-color: #00c9b7;
}
.btn-active {
  background-color: #00b4a4;
}
.btn-active:hover {
  background-color: #00c9b7;
}
.btn-load {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn-load--input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.filters {
  width: 100%;
  max-width: 40%;
  padding-top: 60px;
  margin-bottom: 40px;
}
.editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  max-width: 60%;
}

img {
  height: 100%;
  width: 100%;
  max-height: 520px;
  max-width: 830px;
  object-fit: contain;
  filter: blur(var(--blur, 0px)) 
          invert(var(--invert, 0%))
          sepia(var(--sepia, 0%)) 
          saturate(var(--saturate, 100%))
          hue-rotate(var(--hue-rotate, 0deg))
          brightness(var(--brightness, 110%))
          contrast(var(--contrast, 100%))
}
canvas {
  display: none;
}
.fullscreen {
  position: fixed;
  top: 120px;
  right: 40px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  outline: 0;
  background-size: contain;
  transition: 0.3s;
  cursor: pointer;
  background-image: url('assets/svg/fullscreen-open.svg');
}
.fullscreen:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
:-webkit-full-screen .fullscreen {
  background-image: url('assets/svg/fullscreen-exit.svg');
}
:-moz-full-screen .fullscreen {
  background-image: url('assets/svg/fullscreen-exit.svg');
}
:-ms-fullscreen .fullscreen {
  background-image: url('assets/svg/fullscreen-exit.svg');
}
.footer {
  /* border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #38495a, #a2abb3, #38495a); */
  /* background-color: #313940; */
  padding-top: 20px;
}
.footer-container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.github {
  display: block;
  width: 120px;
  height: 45px;
  padding-left: 45px;
  background-image: url('assets/svg/github.svg');
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #cbd5de;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
}
.github:hover {
  color: #fff;
}
.rss {
  display: block;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  width: 86px;
  height: 32px;
  background-image: url('assets/svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 111px;
}
.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}
.rss:hover .rss-year {
  right: -5px;
  letter-spacing: 0;
}
.presets-wrapper{

  /* align-self: center; */
  /* flex-wrap: wrap;
  display: flex; */
  /* justify-content: space-between; */
  width: 677px;
  /* margin-bottom: 40px; */
  overflow: hidden;

}
.pres{
  width: 166px;
  height: 135px;
 border: none;
 margin-bottom: 30px;
 display: block;
 
}
.preset{
  object-fit: cover;

}
.img-wrapper{
margin-bottom: 20px;}
.presset-name{
color: #a2abb3;
font-size: 16px;
font-family: 'Open Sans', Arial, Helvetica, sans-serif;}

.pres:hover{
  opacity: 0.7;
}
.pres:hover .presset-name
{
  color: #fff;
}



.arrow-next:hover path,
.arrow-prev:hover path{
  fill:#a2abb3;
}

.arrow-next:active path,
.arrow-prev:active path{
  fill:#00b4a4;
}

/* #filer5, #filer6, #filer7, #filer8{
  display: none;
} */
.presets-wrapper li{
  display: inline-block;
}

.presets-wrapper ul {
  width: 9999px;
  height: 160px;
}


.prev-arrow-wrapper{
  position: absolute;
    margin-left: -38px;
    margin-top: 50px;
}
.next-arrow-wrapper{
  position: absolute;
  margin-left: 685px;
  margin-top: -110px;
   
}


/* .header-title {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 0, 242),
    0 0 80px rgb(255, 0, 242),
    0 0 90px rgb(255, 0, 242),
    0 0 100px rgb(255, 0, 242),
    0 0 150px rgb(255, 0, 242);
} */

.main-wrapper{
  background: #2d4242;
  box-shadow: 0 8px 32px 0 #355252;
  backdrop-filter: blur( 2.0px );
  -webkit-backdrop-filter: blur( 2.0px );
  /* border-radius: 10px; */
  border: 1px solid #71C3C3;
  border-radius: 5px;
  max-width: 1300px;
  margin: 0 auto;
}
h1{
  padding: 20px;
  font-weight:800;
   animation: flow 30s ease-in-out infinite;
   background: linear-gradient(-45deg, #88C3C3 0%, #71C3C3 40%, #063D3D 60%, #355252 70%, #3A8686 80%, #757ecb 100%);
  
  
  
   background-size: 300%;
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}








@media (max-width: 1024px) {
  .main {
    padding-top: 40px;
  }
  label:not(.btn) {
    margin-bottom: 35px;
    margin-right: 80px;
  }
  .btn {
    min-width: 45%;
    border-radius: 2px;
  }
  .btn-container {
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .btn-container > *:last-child {
    margin-right: 10px;
  }
  .btn-container > * {
    margin: 10px;
  }
  .main {
    flex-wrap: wrap;
  }
  .filters,
  .editor {
    max-width: 100%;
  }
  .fullscreen {
    top: 15px;
    right: 20px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 375px) {
  .btn {
    min-width: 145px;
  }
  .btn-container > *:last-child {
    margin-right: 3px;
  }
  .btn-container > * {
    margin: 3px;
  }
}
